//Station Background Colours
$bakerlooBkd: #AE6118;
$centralBkd: #E41F1F;
$circleBkd: #F8D42D;
$districtBkd: #007229;
$hammersmithCityBkd: #E899A8;
$jubileeBkd: #686E72;
$metropolitanBkd: #893267;
$northernBkd: #000;
$piccadillyBkd: #0450A1;
$victoriaBkd: #009FE0;
$waterlooCityBkd: #70C3CE;

//Station Text Colours
$defaultStnTextColor: #fff;
$alternateStnTextColor: #113892;

//Station Colour Class Names
.bakerloo { color:$bakerlooBkd !important; }
.central { color:$centralBkd !important; }
.circle { color:$circleBkd !important; }
.district { color:$districtBkd !important; }
.hammersmith { color:$hammersmithCityBkd !important; }
.jubilee { color:$jubileeBkd !important; }
.metropolitan { color:$metropolitanBkd !important; }
.northern { color:$northernBkd !important; }
.piccadilly { color:$piccadillyBkd !important; }
.victoria { color:$victoriaBkd !important; }
.waterloo { color:$waterlooCityBkd !important; }

//Station Background Colour Class Names
.bg-bakerloo { background-color:$bakerlooBkd !important; }
.bg-central { background-color:$centralBkd !important; }
.bg-circle { background-color:$circleBkd !important; }
.bg-district { background-color:$districtBkd !important; }
.bg-hammersmith { background-color:$hammersmithCityBkd !important; }
.bg-jubilee { background-color:$jubileeBkd !important; }
.bg-metropolitan { background-color:$metropolitanBkd !important; }
.bg-northern { background-color:$northernBkd !important; }
.bg-piccadilly { background-color:$piccadillyBkd !important; }
.bg-victoria { background-color:$victoriaBkd !important; }
.bg-waterloo { background-color:$waterlooCityBkd !important; }

//Station Border Colour Class Names
.bd-bakerloo { border-color:$bakerlooBkd !important; }
.bd-central { border-color:$centralBkd !important; }
.bd-circle { border-color:$circleBkd !important; }
.bd-district { border-color:$districtBkd !important; }
.bd-hammersmith { border-color:$hammersmithCityBkd !important; }
.bd-jubilee { border-color:$jubileeBkd !important; }
.bd-metropolitan { border-color:$metropolitanBkd !important; }
.bd-northern { border-color:$northernBkd !important; }
.bd-piccadilly { border-color:$piccadillyBkd !important; }
.bd-victoria { border-color:$victoriaBkd !important; }
.bd-waterloo { border-color:$waterlooCityBkd !important; }


body { font-family: helvetica,arial,sans-serif; font-size:16px; background-color:#363D47; -webkit-font-smoothing:antialiased; color:#fff; }

//bootstrap overrides//
h1 { margin: 0; text-transform: capitalize; }
.navbar-default { background-color:#444; border-radius:0; border:none; min-height: 0; padding:0; }
.navbar-default .col-md-1 { padding:0; }
.badge { background:none; color:#000; display:none; }

//.line { float: left; width:9.090909%; overflow:hidden; border:none;  }
.line a {display: block; width:100%; height:0; text-indent: -1000px; border-bottom:#ddd solid 8px; overflow: hidden; }

#tube-lines { margin:0; }
#stations li span { display:block; overflow: hidden; white-space: nowrap; color: #fff; }
.station { padding:20px 10px; border-bottom:#666 solid 1px; }
span.station-name { font-size:12px; }
.stn-code { display:block; }
.stn-name { font-size:10px; line-height: 10px; }