.bakerloo {
  color: #AE6118 !important; }

.central {
  color: #E41F1F !important; }

.circle {
  color: #F8D42D !important; }

.district {
  color: #007229 !important; }

.hammersmith-city {
  color: #E899A8 !important; }

.jubilee {
  color: #686E72 !important; }

.metropolitan {
  color: #893267 !important; }

.northern {
  color: #000 !important; }

.piccadilly {
  color: #0450A1 !important; }

.victoria {
  color: #009FE0 !important; }

.waterloo-city {
  color: #70C3CE !important; }

.bg-bakerloo {
  background-color: #AE6118 !important;
  fill: #AE6118 !important; }

.bg-central {
  background-color: #E41F1F !important;
  fill: #E41F1F !important; }

.bg-circle {
  background-color: #F8D42D !important;
  fill: #F8D42D !important; }

.bg-district {
  background-color: #007229 !important;
  fill: #007229 !important; }

.bg-hammersmith-city {
  background-color: #E899A8 !important;
  fill: #E899A8 !important; }

.bg-jubilee {
  background-color: #686E72 !important;
  fill: #686E72 !important; }

.bg-metropolitan {
  background-color: #893267 !important;
  fill: #893267 !important; }

.bg-northern {
  background-color: #000 !important;
  fill: #000 !important; }

.bg-piccadilly {
  background-color: #0450A1 !important;
  fill: #0450A1 !important; }

.bg-victoria {
  background-color: #009FE0 !important;
  fill: #009FE0 !important; }

.bg-waterloo-city {
  background-color: #70C3CE !important;
  fill: #70C3CE !important; }

.bd-bakerloo {
  border-color: #AE6118 !important; }

.bd-central {
  border-color: #E41F1F !important; }

.bd-circle {
  border-color: #F8D42D !important; }

.bd-district {
  border-color: #007229 !important; }

.bd-hammersmith-city {
  border-color: #E899A8 !important; }

.bd-jubilee {
  border-color: #686E72 !important; }

.bd-metropolitan {
  border-color: #893267 !important; }

.bd-northern {
  border-color: #000 !important; }

.bd-piccadilly {
  border-color: #0450A1 !important; }

.bd-victoria {
  border-color: #009FE0 !important; }

.bd-waterloo-city {
  border-color: #70C3CE !important; }

body {
  font: normal normal 400 1.4em / 22px "Helvetica W02 Roman","Helvetica Neue",Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  background: url(../images/bg-body2.gif) repeat #363D47; }

h1 {
  text-transform: capitalize;
  font-size: 40px; }

h1 small {
  color: #7e8084; }

nav h1 {
  font-size: 20px;
  margin: 14px 0; }

sup {
  font-size: 85%; }

#tfl-data {
  padding: 0;
  margin-top: 55px; }

.navbar {
  border: none;
  margin: 0;
  background-color: #222;
  border-radius: 0; }

.navbar-text {
  margin: 5px 0; }

.navbar-right {
  font-size: 1.5em;
  margin: 0.7em 0;
  text-transform: lowercase;
  color: #fff; }

.navbar-right sup {
  font-size: 95%; }

#nav-line-list li {
  height: 20px;
  overflow: hidden; }

#nav-line-list a {
  color: #fff;
  display: block;
  text-align: center;
  overflow: hidden;
  padding: 15px 0;
  font-size: 0.65em;
  border: none;
  border-radius: 0; }

span.filter {
  color: #fff; }

a.clear-filter {
  color: #f33; }

.btn, .list-group-item, .pagination li a, .nav-justified li a {
  border-radius: 0 !important; }

.btn {
  border: none;
  margin-right: 1px;
  text-transform: lowercase; }

a.btn {
  color: #fff;
  border: none; }

#station-data, #stations, #arrivals {
  padding: 0;
  /*height:100vh;*/
  height: calc(100vh - 50px);
  overflow: scroll; }

#station {
  height: calc(100vh-480px); }

#stations {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #eee;
  width: 100%; }

#arrivals {
  color: #fff;
  background-color: #2f353f; }

h2 {
  margin: 0;
  font-weight: 300;
  padding: 10px 0;
  color: #fff;
  line-height: 1;
  font-size: 25px; }

#arrivals h2 {
  background-color: #1c2026; }

a#counter {
  color: #777;
  text-decoration: none;
  font-size: .8em;
  font-weight: 400; }

a#counter.status-1 sup {
  color: #f33; }

#station-list, #arrival-list {
  margin: 0;
  padding: 0;
  list-style: none; }

#station-list li, #arrival-list li {
  background: transparent;
  border: none;
  border-radius: 0 !important;
  font-size: 15px;
  font-weight: 500; }

#station-list li {
  border-bottom: solid 1px #f5f5f5; }

#arrival-list li, #station-list a {
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none; }

#arrival-list li {
  border-bottom: 1px solid #363D47;
  padding: 15px 20px; }

#station-list a {
  color: #777; }

#station-list a:hover {
  background-color: #f5f5f5; }

#arrival-list .fa {
  min-width: 25px; }

#arrival-list small {
  color: #7e8084;
  display: block;
  font-size: 13px;
  margin-left: 29px; }

.nav > li > a {
  padding: 20px 5px;
  background-color: transparent;
  line-height: 1.2; }

.nav > li.active > a {
  background-color: #1a90db; }

.lines li {
  text-align: center;
  white-space: nowrap;
  overflow: hidden; }

li.line {
  border-bottom: 1px solid #363D47 !important; }

li.line a {
  color: #fff; }

li.line > a {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  font-weight: 500; }

li.line > a sup {
  font-size: 1.02em; }

ul.platforms li {
  border-right: #363D47 solid 1px; }

ul.lines li:last-child ul li:last-child {
  border: none; }

li.platform a {
  padding: 15px 5px;
  background-color: #262A30; }

li.platform a:hover {
  background-color: #2f353f; }

li.platform span {
  font-size: 12px; }

#station {
  padding: 0 20px;
  background-color: #1c2026; }

#station h2 {
  padding: 15px 0; }

h2 small {
  text-transform: lowercase; }

#station .list-group {
  padding: 20px 0; }

#station .list-group-item {
  font-size: 14px;
  background-color: transparent;
  margin-bottom: 1px;
  border: none;
  padding: 0;
  margin-bottom: 25px; }

#station .pagination {
  margin: 0; }

#station .pagination a {
  background-color: transparent; }

.platform .fa {
  font-size: .9em; }

.platform a {
  color: #7e8084; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
input#station-search {
  border: none;
  border-radius: 0;
  padding: 11px 20px;
  font-size: 20px;
  height: auto;
  background: transparent; }

span.station-id {
  color: #2f353f;
  min-width: 40px;
  display: inline-block; }

.badge {
  background: none;
  float: right; }

.line-badge, .platform-badge {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  overflow: hidden; }

.platform-badge {
  width: 20px;
  height: 20px;
  border: #222 solid 2px;
  margin: 0; }

@media (max-width: 768px) {
  #station-data, #stations, #arrivals {
    height: auto; }

  .nav-justified > li {
    display: table-cell;
    width: 1%; }

  .nav-justified > li > a {
    margin-bottom: 0 !important; } }

/*# sourceMappingURL=tfl.css.map */
