//Station Background Colours
$bakerloo: #AE6118;
$central: #E41F1F;
$circle: #F8D42D;
$district: #007229;
$hammersmithCity: #E899A8;
$jubilee: #686E72;
$metropolitan: #893267;
$northern: #000;
$piccadilly: #0450A1;
$victoria: #009FE0;
$waterlooCity: #70C3CE;

//Station Text Colours
$defaultStnTextColor: #fff;
$alternateStnTextColor: #113892;

//site colors
$col1: #363D47;
$col2: #2f353f;

//Station Colour Class Names
.bakerloo { color:$bakerloo !important; }
.central { color:$central !important; }
.circle { color:$circle !important; }
.district { color:$district !important; }
.hammersmith-city { color:$hammersmithCity !important; }
.jubilee { color:$jubilee !important; }
.metropolitan { color:$metropolitan !important; }
.northern { color:$northern !important; }
.piccadilly { color:$piccadilly !important; }
.victoria { color:$victoria !important; }
.waterloo-city { color:$waterlooCity !important; }

//Station Background Colour Class Names
.bg-bakerloo { background-color:$bakerloo !important; }
.bg-central { background-color:$central !important; }
.bg-circle { background-color:$circle !important; }
.bg-district { background-color:$district !important; }
.bg-hammersmith-city { background-color:$hammersmithCity !important; }
.bg-jubilee { background-color:$jubilee !important; }
.bg-metropolitan { background-color:$metropolitan !important; }
.bg-northern { background-color:$northern !important; }
.bg-piccadilly { background-color:$piccadilly !important; }
.bg-victoria { background-color:$victoria !important; }
.bg-waterloo-city { background-color:$waterlooCity !important; }

//Station Border Colour Class Names
.bd-bakerloo { border-color:$bakerloo !important; }
.bd-central { border-color:$central !important; }
.bd-circle { border-color:$circle !important; }
.bd-district { border-color:$district !important; }
.bd-hammersmith-city { border-color:$hammersmithCity !important; }
.bd-jubilee { border-color:$jubilee !important; }
.bd-metropolitan { border-color:$metropolitan !important; }
.bd-northern { border-color:$northern !important; }
.bd-piccadilly { border-color:$piccadilly !important; }
.bd-victoria { border-color:$victoria !important; }
.bd-waterloo-city { border-color:$waterlooCity !important; }


body { font-family: helvetica,arial,sans-serif; font-size:20px; background-color:#363D47; color:#fff; -webkit-font-smoothing:antialiased; }

//bootstrap overrides//
h1 { text-transform: capitalize; font-size:40px; color:#fff; }
h1 small { color:#7e8084; }
h2 { color:#2f353f; }
.navbar-default { background-color:transparent; border-radius:0; border:none; min-height: 0; padding:0; }
.navbar-default .col-md-1 { padding:0; }
.thumbnail { background:none; border-radius:0; border-color:#2f353f; padding:10px; }

//lists
.list-group-item { background-color:transparent; border:none; border-radius:0 !important; border-bottom:solid 1px $col2; padding:0; font-size:14px; text-transform: capitalize; padding:10px 0; }
.list-group-item a {display: block; color:#fff; }
.list-group-item .badge { float: right; }

input#station-search { border: none; border-radius: 0; padding:15px; background-color: #2f353f; text-align: center; font-size: 14px; height: auto; }
#nav-line-list a { color:#fff; display:block; text-align: center; overflow:hidden; padding:15px 0; font-size:0.65em; border:none; border-radius:0; }
#tfl-data { margin-top:90px; }
/*#stations li span { overflow: hidden; white-space: nowrap; }
.station { padding:20px; border-bottom:#2f353f solid 1px; }*/
span.station-id {color:$waterlooCity; text-transform: capitalize; font-size:12px; float: right; display:none; }
span.station-name { font-size:14px; color:#fff; display: block; }
/*.arrival {  background: none; border: none; padding:10px 0; border-bottom:#2f353f solid 1px; border-radius:0 !important; color: #fff; font-size:14px; }*/
.badge { background:none; }
.line-indicator { height:10px; width:10px; padding:0; margin-left:5px; display:inline-block; border-radius:50%; }
/*.station-lines { float: right; line-height: 1; }*/
.station-line { width:10px; display:inline-block; height:10px; border-radius:50%; overflow: hidden; margin-left: 5px; }