<nav class="navbar navbar-default navbar-fixed-top">
    <input id="station-search" type="text" data-ng-model="search" class="form-control" placeholder="Station Search">
</nav>
<div class="container" id="stations">
	<div class="row">
		<div class="col-md-12">
			<ul id="station-list" class="list-group">
				<li class="station list-group-item" data-ng-repeat="station in stations | filter:{name:search || ''}">
					<span class="station-name">
						<a href="#/{{station.id}}/">{{station.name}}</a>
						<span class="station-lines badge">
							<a data-ng-repeat="line in station.lines" href="#/{{station.id}}/{{line}}/" class="station-line {{line}} bg-{{line}}">
								{{line}}
							</a>
						</span>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>