<div class="row">
	<!--<div class="col-md-3">
		<ul id="line-list" class="list-group">
			<li class="line list-group-item"><a href="#/">All</a></li>
		  	<li class="line list-group-item" data-ng-repeat="line in lines">
		  		<a href="#/?line={{line}}">
		  			{{line | formatStr}}
		  		</a>
		  	</li>
		</ul>
	</div>
	<div class="col-md-12">
		<input id="station-search" type="text" ng-model="searchText" class="form-control" placeholder="Station Search">
	</div>-->
	<div class="col-md-12">
		<ul id="station-list" class="list-group">
			<li class="station list-group-item col-xs-12 col-md-12" data-ng-repeat="station in stations | filter:line | filter:searchText ">
				<a href="#/arrivals/?line={{station.lines | arrToStr}}&station={{station.id}}">
					<span class="station-name">
						{{station.name}}
					</span>
					<span class="badge station-lines">
						<span data-ng-repeat="line in station.lines" class="station-line {{line}} bg-{{line}}">
							{{line}}
						</span>
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>